{
    "application": {
        "firstDateOfWeek": 1
    },
    "jira": {
        "host": "https://cloud.atlassian.net",
        "user": "user@myhost.example",
        "token": "jira_api_token"
    },
    "tempo": {
        "token": "1Ahvn1jMR6FoRbWs5AX0a7ZVu56qg0Ur"
    },
    "toggl": {
        "host": "https://www.toggl.com",
        "user_agent": "your-email@example.com",
        "token": "hjhs87y4ht4h7y179y4"
    }
}